/* reset */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  color: #2b292d;
}

a {
  background-color: transparent;
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  cursor: pointer;
}

input {
  appearance: none;
  border: none;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

/* typograpy */

.text-1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.05em;
}

.text-11 {
  font-size: 34px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.03em;
}

.text-2 {
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
}

.text-3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.01em;
}

/* button style */

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 48px;
  background-color: #3040c4;
  color: white;
  border-radius: 2px;
  font-family: "DM Sans", sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.05em;
}

.learn {
  background-color: #ffffff;
  color: #3040c4;
}

/* Landing */

.mainContainer {
  display: flex;
  justify-content: center;
  width: inherit;
  height: auto;
  background-color: #fdded8;
}

.main > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 154px 15px;
}

.mainTitle {
  display: block;
  text-align: center;
  margin-bottom: 24px;
}

.mainSubText {
  text-align: center;
  margin-bottom: 24px;
}

.mainButtonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
/* Testimonials */

.testimonialsContainer {
  display: flex;
  justify-content: center;
  width: inherit;
  height: auto;
  background-color: #f4f5f7;
}

.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 80px 15px;
}

.testTite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  margin-bottom: 40px;
}

/* Program */

.programContainer {
  display: flex;
  justify-content: center;
  width: inherit;
  height: auto;
  background-color: #ffffff;
}

.program {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 100%;
  height: auto;
  padding: 80px 15px;
}

.programDescription {
  display: flex;
  flex-direction: column;
}

.programSub {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #009b4d;
  margin-bottom: 8px;
}

.programTitle {
  display: inline-block;
  margin-bottom: 24px;
}

.programSortContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.programCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 290px;
  height: 291px;
  border-radius: 8px;
  gap: 16px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}

.programCard > h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.img-1 {
  width: 142.21px;
  height: 195px;
}

.img-2 {
  width: 146.06px;
  height: 195px;
}

.img-3 {
  width: 122.4px;
  height: 195px;
}

/* Curriculum */

.curriculumContainer {
  display: flex;
  justify-content: center;
  width: inherit;
  height: auto;
  background-color: #ffffff;
}

.curriculum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  width: 100%;
  height: auto;
  padding: 80px 15px;
}

.curriculumSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.curriculumSection > p {
  line-height: 24px;
  margin-bottom: 32px;
}

.curriSub {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #0189d1;
  margin-bottom: 8px;
}

.curriTitle {
  margin-bottom: 24px;
}

.curriculumImage {
  display: none;
}

.curriculumImage > img {
  width: 425px;
  height: 426px;
  object-fit: cover;
}

.curriculumDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.curriculumDescription > p {
  font-size: 15px;
}

.curriParagraph > p > span {
  font-weight: 700;
}

/* Banner */

.bannerContainer {
  display: flex;
  justify-content: center;
  width: inherit;
  height: auto;
  background-color: #f2f8fa;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 40px 15px;
  background-color: #f2f8fa;
}

.bannerImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 290px;
  height: 240px;
  margin-bottom: 16px;
}

.bannerImg > img {
  width: 191.48px;
  height: 190px;
  object-fit: cover;
}

.bannerInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.bannerInfo > p {
  margin-bottom: 24px;
  text-align: center;
}

.bannerTitle {
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.05em;
}

.bannerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.bannerInput {
  width: 100%;
  height: 48px;
  padding: 12px 16px;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.bannerButton {
  width: 100%;
}

.bannerFooter {
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  color: #7b7b7e;
}

.bannerFooter > a {
  text-decoration: underline;
  color: #3040c4;
  cursor: pointer;
}

/* Footer */

.footerContainer {
  display: flex;
  justify-content: center;
  width: inherit;
  height: auto;
  background-color: #f2f8fa;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
  padding: 24px 15px;
  background-color: #ffffff;
}

.footerDiv {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footerLink {
  color: #807f81;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
}

/* media query */

@media screen and (min-width: 576px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    max-width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    max-width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    max-width: 960px;
  }

  /* typograph */
  .text-1 {
    font-size: 70px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -0.05em;
  }

  .text-11 {
    font-size: 34px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.03em;
  }

  .text-2 {
    font-size: 26px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: -0.04em;
  }

  .text-3 {
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.01em;
  }

  .text-11 {
    font-size: 56px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -0.03em;
  }

  /* button style */

  button {
    width: 160px;
    height: 56px;
    font-size: 18px;
    line-height: 28px;
  }

  /* landing */
  .main > div {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    width: 100%;
    height: auto;
    padding: 154px 15px;
  }

  .mainTitle {
    display: block;
    text-align: center;
    margin-bottom: 24px;
  }

  .mainSubText {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
  }

  .mainSubText > p {
    text-align: center;
    max-width: 370px;
  }

  .mainButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  /* Testimonials */
  #t-col1 {
    grid-column: 1 / span 5;
    grid-row: 1 / -1;
  }

  #t-col2 {
    grid-column: 7 / span 6;
    grid-row: 1 / -1;
  }

  .testTite {
    margin-bottom: 0;
  }

  /* Program */

  #p-col1 {
    grid-column: 1 / -1;
    grid-row: 1;
  }

  #p-col2 {
    grid-column: 1 / -1;
    grid-row: 2;
  }

  .programDescription {
    margin-bottom: 57px;
  }

  .programDescription > p {
    display: inline-block;
    text-align: center;
  }

  .programSub {
    text-align: center;
    font-size: 22px;
    margin-bottom: 16px;
  }

  .programTitle {
    text-align: center;
    margin-bottom: 32px;
  }

  .programSortContainer {
    flex-direction: row;
  }

  .programCard > h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.02em;
  }

  /* Curriculum */

  #c-col1 {
    grid-column: 1 / span 6;
    grid-row: 1;
  }

  #c-col2 {
    grid-column: 7 / span 6;
    grid-row: 1;
  }

  #c-col3 {
    grid-column: 1 / -1;
    grid-row: 2;
  }

  .curriculumSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .curriculumSection > p {
    line-height: 24px;
    margin-bottom: 32px;
  }

  .curriSub {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #0189d1;
    margin-bottom: 8px;
  }

  .curriTitle {
    margin-bottom: 24px;
  }

  .curriculumImage {
    display: none;
  }

  .curriculumImage > img {
    width: 425px;
    height: 426px;
    object-fit: cover;
  }

  .curriculumDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }

  .curriculumDescription > p {
    font-size: 15px;
  }

  .curriParagraph > p > span {
    font-weight: 700;
  }

  /* Banner */

  .bannerContainer {
    display: flex;
    justify-content: center;
    width: inherit;
    height: auto;
    background-color: #f2f8fa;
  }

  .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 40px 15px;
    background-color: #f2f8fa;
  }

  .bannerImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 290px;
    height: 240px;
    margin-bottom: 16px;
  }

  .bannerImg > img {
    width: 191.48px;
    height: 190px;
    object-fit: cover;
  }

  .bannerInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  .bannerInfo > p {
    margin-bottom: 24px;
    text-align: center;
  }

  .bannerTitle {
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.05em;
  }

  .bannerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .bannerInput {
    width: 100%;
    height: 48px;
    padding: 12px 16px;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  .bannerButton {
    width: 100%;
  }

  .bannerFooter {
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: #7b7b7e;
  }

  .bannerFooter > a {
    text-decoration: underline;
    color: #3040c4;
    cursor: pointer;
  }

  /* Footer */

  .footerContainer {
    display: flex;
    justify-content: center;
    width: inherit;
    height: auto;
    background-color: #f2f8fa;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: auto;
    padding: 24px 15px;
    background-color: #ffffff;
  }

  .footerDiv {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .footerLink {
    color: #807f81;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.01em;
  }
}
